body {
    background-color: #2c2c2cb7;
}

header {
    min-height: 100px;
    background-color: white;
    border-bottom: solid 2px white;

    >.container-fluid {
        min-height: 70px;
        background-color: #063;
        border-bottom: solid 1px black;
        display: grid;

        >.row {
            margin: auto 0;

            & img#train_logo {
                height: 50px;
                width: 100px;

                @media screen and (max-width: 400px) {
                    width: 80px;
                }
            }

            & h3#title {
                width: auto;
                margin-top: .5rem;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                font-weight: 400;
                color: white;
                transform: skew(-5deg);
                text-shadow: 2px 2px 0 black;
                filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.479));
                /* display: inline-block; */

                @media screen and (max-width: 450px) {
                    font-size: 25px;
                }

                @media screen and (max-width: 400px) {
                    font-size: 15px;
                }
            }
        }

    }

    & nav {
        & a {
            margin: .3rem 0 .3rem .5rem;
        }

        & a:hover {
            color: white;
            background-color: rgba(128, 128, 128, 0.466);
            border-radius: 5px;
        }
    }

}

main {
    background-color: #2c2c2c;
}

/* style classes */

.a_active {
    color: white;
    text-shadow: 1px .1px 0 black;
    background-color: #0d6dfdb7;
    border-radius: 5px;
}